* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: url("../assert/registraionbg.jpg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}